<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>메뉴 상세 정보</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <div id="menuDetailContainer" th:data-is-logged-in="${isLoggedIn}" th:data-menu-key="${menu.menuKey}" class="editCart__wrap">
            <div class="editCart__con">
                <div class="editCart__top">
                    <div class="editCart__img">
                        <img th:src="@{${menu.menuImg}}" alt="메뉴 이미지">
                    </div>
                    <h2 class="editCart__title">
                        [[${menu.menuName}]]
                    </h2>
                    <p class="editCart__price" id="basePrice" th:data-price="${menu.menuPrice}">
                        [[${menu.menuPrice}]]원
                    </p>
                </div>
                <div class="editCart__option-box" th:if="${optionGroups != null}">
                    <h3>옵션 선택</h3>
                    <ul class="editCart__option-items">
                        <li th:each="group : ${optionGroups}">
                            <p class="editCart__option-name option-group-header">
                                [[${group.optionGroupName}]]
                            </p>
                            <div class="editCart__option-menu" th:each="option : ${group.options}">
                                <input type="checkbox" id="" name=""
                                       th:data-price="${option.optionPrice}"
                                       th:value="${option.optionKey}">
                                <label for="">
                                    [[${option.optionName}]] + [[${option.optionPrice}]]원
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="editCart__total-box">
                    <h3>수량</h3>
                    <div class="editCart__total-cnt">
                        <input type="number" id="quantity" name="quantity" value="1" min="1">
                        <p>
                            총 금액 : <span id="totalPrice">[[${menu.menuPrice}]]원</span>
                        </p>
                    </div>
                    <div class="editCart__total-btn">
                        <button type="button" id="addToCartButton" th:if="${store.businessStatus == '영업중'}">추가하기</button>
                        <p th:if="${store.businessStatus != '영업중'}">현재 가게가 영업 중이 아닙니다. 주문할 수 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/user/js/module/menuDetail.js"></script>
    </body>
</html>
