<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 가게 목록</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <div class="storePage__wrap">
                <!-- 검색박스 -->
                <div class="sp__search-con"></div>
                <!-- 카테고리 -->
                <div class="sp__ctg-con">
                    <th:block th:if="${user != null}">
                        <!-- 로그인 -->
                        <ul class="sp__ctg">
                            <li class="active">
                                <a href="/user/category/0">ALL</a>
                            </li>
                            <li th:each="category : ${categoryList}">
                                <a th:href="@{'/user/category/' + ${category.categoryKey}}">
                                    [[${category.categoryName}]]
                                </a>
                            </li>
                        </ul>
                    </th:block>
                    <th:block th:if="${user == null}">
                        <!-- 비로그인 -->
                        <ul class="sp__ctg">
                            <li class="active">
                                <a href="#" data-base-url="/user/category/0">ALL</a>
                            </li>
                            <li th:each="category : ${categoryList}">
                                <a href="#"
                                   th:data-base-url="@{'/user/category/' + ${category.categoryKey}}">
                                    [[${category.categoryName}]]
                                </a>
                            </li>
                        </ul>
                    </th:block>
                </div>
                <!-- 가게목록 -->
                <div class="sp__store-con" id="storeList">
                    <ul class="sp__list">
                        <li th:each="store : ${storeList}">
                            <a th:href="@{'/user/storeDetail/' + ${store.storeInfoKey}}">
                                <div class="sp__img" th:if="${store != null}">
                                    <img th:if="${store.firstMenu != null}" th:src="@{${store.firstMenu.menuImg}}" alt="Menu Image">
                                </div>
                                <div class="sp__info">
                                    <ul class="sp__rating">
                                       <li>
                                           <i class="fa-solid fa-star"></i>
                                           [[${store.averageRating}]]
                                       </li>
                                       <li>
                                           리뷰
                                           [[${store.reviewCount}]]
                                       </li>
                                    </ul>
                                    <h3 class="sp__name">[[${store.storeName}]]</h3>
                                    <div class="sp__menu">
                                        <p th:if="${store.firstMenu != null}">
                                            대표 메뉴 : [[${store.firstMenu.menuName}]]
                                        </p>
                                    </div>
                                    <ul class="sp__etc-info">
                                        <li>배달비 : [[${store.deliveryAmount1}]] ~ [[${store.deliveryAmount3}]]</li>
                                        <li>오픈시간 : [[${store.openTime}]]</li>
                                        <li>마감시간 : [[${store.closeTime}]]</li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Start:Pagination -->
                <th:block th:include="inc/user/pagination :: boardPagination (${type})"></th:block>
                <!-- End:Pagination -->
            </div>

            <script src="/user/js/module/store.js"></script>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>
