<th:block th:fragment="userFooter">
    <footer id="footer">
        <div class="inner">
            <div class="footer__logo">
                <img src="/user/images/logo-gray.png" alt="딜리델리회색로고">
            </div>
            <ul class="footer__info">
                <li>
                    사이트명 : DeliDeli
                </li>
                <li>
                    연락처 : 010-1234-5678
                </li>
                <li>
                    담당자 : 모자란남매들
                </li>
                <li>
                    이메일 : test@test.com
                </li>
                <li>
                    github : https://github.com
                </li>
            </ul>
            <p class="footer__copyright">
                delideli ⓒ All Right Reserved.
            </p>
        </div>
    </footer>
</th:block>
