<th:block th:fragment="subNav">
    <ul class="subNav__items">
        <li>
            <a href="/user/myAddress">내 주소관리</a>
        </li>
        <li>
            <a href="/user/checkAccount">내 정보 수정</a>
        </li>
        <li>
            <a href="/user/updatePw">비밀번호 변경</a>
        </li>
        <li>
            <a href="/user/myOrder">주문내역</a>
        </li>
        <li>
            <a href="/user/myReview">내 리뷰관리</a>
        </li>
        <li>
            <a href="/user/myLike">찜목록</a>
        </li>
        <li>
            <a href="/user/myCart">장바구니</a>
        </li>
        <li>
            <a href="/user/myAsk">내 문의확인</a>
        </li>
    </ul>
</th:block>
