<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>관리자 - 메인페이지</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:Admin CSS -->
        <th:block th:include="inc/admin/admin-css :: adminCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:Admin JS -->
        <th:block th:include="inc/admin/admin-js :: adminJs"></th:block>

    </head>
    <body>
        <div class="admin-wrap">
            <!-- Start:Aside -->
            <th:block th:include="inc/admin/aside :: adminAside"></th:block>
            <!-- End:Aside -->

            <!-- Start:Main -->
            <main id="mainpage__wrap">
                <!-- Start:Header -->
                <th:block th:include="inc/admin/header :: adminHeader"></th:block>
                <!-- End:Header -->
                
                <!-- Start:Contents -->
                <section class="contents">
                </section>
                <!-- End:Contents -->
            </main>
            <!-- End:Main -->
        </div>
    </body>
</html>
