<h3>내문의 상세보기</h3>
<table>
    <tr>
        <th colspan="2">
            <span th:text="${board.boardTitle}"></span>
            <span th:if="${board.boardCommentStatus == 1}" style="margin-left: 10px; color: green;">답변완료</span>
            <span th:if="${board.boardCommentStatus == 0}" style="margin-left: 10px; color: red;">미완료</span>
        </th>
    </tr>
    <tr>
        <td></td>
        <td th:text="${board.boardRegdate}"></td>
    </tr>
    <tr>
        <td colspan="2" th:text="${board.boardContents}"></td>
    </tr>
    <tr>
        <td colspan="2">
            <a th:href="@{/user/myAskDelete/{boardKey}(boardKey=${board.boardKey})}">삭제</a>
        </td>
    </tr>
</table>
<hr>
<table th:if="${board.boardCommentStatus == 1}">
    <tr>
        <th>관리자</th>
    </tr>
    <tr>
        <td th:text="${board.boardComment}"></td>
    </tr>
</table>