<div class="store-list">
    <div th:each="store : ${storeList}">
        <div class="store-item">
            <a th:href="@{'/user/storeDetail/' + ${store.storeInfoKey}}">
                <img th:src="${store.storeProfileImg}" alt="가게 이미지">
                <p th:text="${store.storeName}"></p>
                <p th:text="'평점: ' + ${store.averageRating} + '⭐'"></p>
                <p th:text="'최소주문금액: ' + ${store.minOrderAmount} + '원'"></p>
                <p th:text="'배달비: ' + ${store.deliveryAmount1} + '원'"></p>
            </a>
        </div>
        <br><br>
    </div>
</div>

<!-- Start:Pagination -->
<th:block th:include="inc/user/pagination :: boardPagination (${type})"></th:block>
<!-- End:Pagination -->