<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사장님 - 메뉴</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:Client CSS -->
        <th:block th:include="inc/client/client-css :: clientCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:Client JS -->
        <th:block th:include="inc/client/client-js :: clientJs"></th:block>

    </head>
    <body>
        <div class="client-wrap">
            <!-- Start:Aside -->
            <th:block th:include="inc/client/aside :: clientAside"></th:block>
            <!-- End:Aside -->

            <!-- Start:Main -->
            <main id="mainpage__wrap">
                <!-- Start:Header -->
                <th:block th:include="inc/client/header :: clientHeader">

                </th:block>
                <!-- End:Header -->

                <!-- Start:Contents -->
                <section class="contents">
                    <div>
                        <h2>메뉴 목록</h2>
                        <!-- 메뉴 그룹화된 데이터 렌더링 -->
                        <div th:each="entry : ${groupedMenu}">
                            <h3 th:text="${entry.key}">메뉴 그룹 이름</h3>
                            <ul>
                                <li th:each="menu : ${entry.value}">
                                    <span th:text="${menu.menuName}">메뉴 이름</span> -
                                    <span th:text="${menu.menuPrice}">메뉴 가격</span>원
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- End:Contents -->
            </main>
            <!-- End:Main -->
        </div>
    </body>
</html>
