.storePage__wrap {
    position: relative;
    margin: 0 auto;
    max-width: 144rem;
    padding: 6rem 0 12rem;
}
/* store - 카테고리 */
.sp__ctg {
    padding-bottom: 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.sp__ctg > li > a {
    display: block;
    text-align: center;
    min-width: 8rem;
    padding: 1rem 1.6rem;
    background: var(--whiteColor);
    border: 1px solid var(--gray-200);
    border-radius: 0.8rem;
    font-size: var(--font-size-14);
    font-weight: 700;
    transition: .3s;
}
.sp__ctg > li.active > a {
    background: var(--mainColor);
    color: var(--whiteColor);
    border: none;
}
.sp__ctg > li > a:hover {
    background: var(--gray-100);
}
.sp__ctg > li.active > a:hover {
    opacity: 1;
    background: var(--mainColor);
}
/* store - 가게목록 */
.sp__list {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}
.sp__list > li {
    transition: .3s;
}
.sp__list > li:hover {
    transform: translateY(-1rem);
}
.sp__list > li > a {
    display: block;
    border-radius: 2rem;
    box-shadow: var(--box-shadow-100);
    transition: .3s;
    padding: 2rem;
}
.sp__list > li:hover > a {
    background: var(--gray-100);
}
.sp__img {
    width: 100%;
    height: 24rem;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid var(--gray-200);
}
.sp__img img {
    width: 100%;
    height: 100%;
}
.sp__info {
    padding: 2rem 0 1rem;
}
.sp__rating {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.sp__rating > li {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--gray-400);
}
.sp__rating > li > i {
    color: var(--mainColor);
}
.sp__name {
    font-size: var(--font-size-24);
    font-weight: 700;
    color: var(--gray-900);
    padding-bottom: 1rem;
}
.sp__menu p {
    font-size: var(--font-size-18);
    font-weight: 500;
    color: var(--gray-900);
}
.sp__etc-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sp__etc-info > li {
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--gray-400);
}