<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 아이디찾기</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <form id="findIdForm">
                <label for="userName">이름:</label>
                <input type="text" id="userName" name="userName" required>
                <br>
                <label for="userEmail">이메일:</label>
                <input type="email" id="userEmail" name="userEmail" required>
                <br>
                <button type="submit">아이디 찾기</button>
                <li><a href="/user/login">유저 로그인</a></li>
            </form>
            <div id="message" class="success-message"></div>
            <div id="errorMessage" class="error-message"></div>

            <script src="/user/js/module/findId.js"></script>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>
