<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.app.delideli.client.menu.mapper.ClientOptionMapper">

    <!-- Option 및 OptionGroup에 대한 매핑 정의 -->

    <resultMap id="OptionResultMap" type="kr.co.jhta.app.delideli.client.menu.domain.ClientOption">
        <id property="optionKey" column="option_key"/>
        <result property="optionGroupKey" column="option_group_key"/>
        <result property="optionName" column="option_name"/>
        <result property="optionPrice" column="option_price"/>
        <result property="optionStatus" column="option_status"/>
        <result property="optionRegdate" column="option_regdate"/>
        <result property="optionUpdate" column="option_update"/>
    </resultMap>

    <resultMap id="OptionGroupResultMap" type="kr.co.jhta.app.delideli.client.menu.domain.ClientOptionGroup">
        <id property="optionGroupKey" column="option_group_key"/>
        <result property="menuKey" column="menu_key"/>
        <result property="optionGroupName" column="option_group_name"/>
        <result property="required" column="required"/>
        <result property="maxSelectOption" column="max_select_option"/>
        <result property="optionGroupRegdate" column="option_group_regdate"/>
        <result property="optionGroupUpdate" column="option_group_update"/>
        <collection property="options" ofType="kr.co.jhta.app.delideli.client.menu.domain.ClientOption" resultMap="OptionResultMap"/>
    </resultMap>

    <!-- 메뉴 키에 따라 옵션 그룹 및 옵션을 가져오는 쿼리 -->
    <select id="getMenuOptionByMenuKey" parameterType="int" resultMap="OptionGroupResultMap">
        SELECT * FROM
        option_group og LEFT JOIN `option` o
        ON og.option_group_key = o.option_group_key
        WHERE
        og.menu_key = #{menuKey} ORDER BY og.option_group_key, o.option_key
    </select>
</mapper>
