<th:block th:fragment="clientAccountRight">
    <section class="client-account__right">
        <div class="client-account__text-box">
            <h2 class="client-account__title">
                가게관리의 모든 것을 사장님 서비스에서 체험해보세요!
            </h2>
            <p class="client-account__desc">
                어디서나 손쉽게 접근 가능한 온라인 플랫폼입니다.
                <br>
                언제든지 가게 상황을 실시간으로 확인하고, 필요한 조치를 취할 수 있습니다.
                <br>
                이제 사장님 서비스와 함께 스마트하게 가게를 관리하고, 
                <br>
                더 많은 시간을 고객과의 소통에 투자해보세요.
                <br>
                성공적인 비즈니스를 위한 첫걸음, 사장님 서비스에서 시작됩니다.
                <br>
                delideli에 입점한 후 이용할 수 있습니다.
            </p>
        </div>
    </section>
</th:block>