<th:block th:fragment="OrderListPagination (type)">
    <ul class="board__pagination" th:if="${totalPages > 0}">
        <li th:if="${map.prev}">
            <a th:href="@{${'/client/' + type}(page=${map.startPageNo})}">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </li>
        <li th:each="i : ${#numbers.sequence(map.startPageNo, map.endPageNo)}">
            <a th:href="@{${'/client/' + type}(page=${i}, keyword=${keyword})}">
                [[${i}]]
            </a>
        </li>
        <li th:if="${map.next}">
            <a th:href="@{${'/client/' + type}(page=${map.endPageNo})}">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </li>
    </ul>
</th:block>


