#header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid var(--gray-200);
}
#header .inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.header__top {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__top-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header__top-menu--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--mainColor);
    border-radius: 0.8rem;
    font-weight: 700;
    color: var(--whiteColor);
}
.header__status--on {
    gap: 0.8rem;
}
.header__status--on a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 100%;
}
.header__status--on a img {
    width: 100%;
    height: 100%;
    transition: .3s;
}
.header__status--on a img:hover {
    scale: 1.1;
    transition: .3s;
}
.header__status--on a i {
    font-size: 2rem;
    color: var(--gray-400);
}
.header__status--on a:hover i {
    color: var(--gray-600);
}
.header__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.header__bot-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.header__bot-menu li {
    position: relative;
}
.header__bot-menu li > a {
    font-weight: 600;
}
.header__bot-menu li:first-child > a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--mainColor);
}
.header__ctg {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--whiteColor);
    min-width: 160px;
    padding: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: var(--box-shadow-100);
}
.header__ctg > li {
    margin-bottom: 0.8rem;
}
.header__ctg > li:last-child {
    margin-bottom: 0;
}
.header__ctg > li > a, .header__ctg > li:first-child > a {
    display: block;
    font-weight: 400;
    color: var(--gray-400);
}
.header__ctg > li > a:hover, .header__ctg > li:first-child > a:hover {
    color: var(--mainColor);
}
.header__bot-searchForm {
    position: relative;
}
.header__searchBar {
    position: relative;
    width: 400px;
    height: 44px;
    border-radius: 8rem;
    padding: 0 4rem 0 1.6rem;
    border: 1px solid var(--gray-200);
    color: var(--gray-400);
}
.header__searchBar:focus {
    outline-color: var(--mainColor);
    color: var(--gray-600);
}
.header__searchBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--gray-400);
}