<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사장님 - 비밀번호변경(비로그인)</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:Client CSS -->
        <th:block th:include="inc/client/client-css :: clientCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:Client JS -->
        <th:block th:include="inc/client/client-js :: clientJs"></th:block>

    </head>
    <body>
        <div class="client-account__wrap">
            <section class="client-account__left">
                <div class="client-account__form-box">
                    <div class="client-account__form-top">
                        <h1 class="client-account__logo">
                            <img src="/client/images/logo-blue.png" alt="딜리델리파랑색로고">
                        </h1>
                        <p class="client-account__label">
                            비밀번호 변경
                        </p>
                    </div>
                    <!-- Start:Form -->
                    <!-- End:Form -->
                </div>
                <p class="client-account__copyright">
                    delideli ⓒ All right reserved.
                </p>
            </section>
            <section class="client-account__right">
                <div class="client-account__text-box">
                    <h2 class="client-account__title">
                        가게관리의 모든 것을 사장님 서비스에서 체험해보세요!
                    </h2>
                    <p class="client-account__desc">
                        어디서나 손쉽게 접근 가능한 온라인 플랫폼입니다.
                        <br>
                        언제든지 가게 상황을 실시간으로 확인하고, 필요한 조치를 취할 수 있습니다.
                        <br>
                        이제 사장님 서비스와 함께 스마트하게 가게를 관리하고, 더 많은 시간을 고객과의 소통에 투자해보세요.
                        <br>
                        성공적인 비즈니스를 위한 첫걸음, 사장님 서비스에서 시작됩니다.
                        <br>
                        delideli에 입점한 후 이용할 수 있습니다.
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>
