<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사장님 - 비밀번호찾기</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:Client CSS -->
        <th:block th:include="inc/client/client-css :: clientCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:Client JS -->
        <th:block th:include="inc/client/client-js :: clientJs"></th:block>

    </head>
    <body>
        <div class="client-account__wrap">
            <section class="client-account__left">
                <div class="client-account__form-box">
                    <div class="client-account__form-top">
                        <h1 class="client-account__logo">
                            <img src="/client/images/logo-blue.png" alt="딜리델리파랑색로고">
                        </h1>
                        <p class="client-account__label">
                            비밀번호 찾기
                        </p>
                    </div>
                    <!-- Start:Form -->
                    <form id="findPwForm" class="client-account__form">
                        <div class="account__input-wrap">
                            <!-- 아이디 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientId">아이디</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <input type="text" id="clientId" name="clientId">
                            </div>
                            <!-- 사업자등록번호 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientEID">사업자등록번호</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <div class="account__input-btn">
                                    <input type="text" id="clientEID" name="clientEID" maxlength="10">
                                    <button type="button" id="checkEID">번호조회</button>
                                </div>
                                <span id="clientEIDMessage" class="error-message" style="display: none;"></span>
                            </div>
                            <!-- 이름 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientName">이름</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <input type="text" id="clientName" name="clientName">
                            </div>
                        </div>
                        <div class="account__btn-wrap">
                            <button type="submit" id="sendResetLinkButton" class="client-btn--blue" disabled>비밀번호 찾기</button>
                        </div>
                        <ul class="account__links">
                            <li>
                                <a href="/client/login">로그인</a>
                            </li>
                            <li>
                                <a href="/client/register">회원가입</a>
                            </li>
                            <li>
                                <a href="/client/findId">아이디 찾기</a>
                            </li>
                        </ul>
                        <script src="/client/js/module/findPw.js"></script>
                    </form>
                    <!-- End:Form -->
                </div>
                <p class="client-account__copyright">
                    delideli ⓒ All right reserved.
                </p>
            </section>
            <!-- Start:Right -->
            <th:block th:include="inc/client/account-right :: clientAccountRight"></th:block>
            <!-- End:Right -->
        </div>
    </body>
</html>
