<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사장님 - 회원가입</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:Client CSS -->
        <th:block th:include="inc/client/client-css :: clientCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:Client JS -->
        <th:block th:include="inc/client/client-js :: clientJs"></th:block>
    </head>
    <body>
        <div class="client-account__wrap">
            <section class="client-account__left">
                <div class="client-account__form-box">
                    <div class="client-account__form-top">
                        <h1 class="client-account__logo">
                            <img src="/client/images/logo-blue.png" alt="딜리델리파랑색로고">
                        </h1>
                        <p class="client-account__label">
                            회원가입
                        </p>
                    </div>
                    <!-- Start:Form -->
                    <form action="/client/register" method="POST" id="registerForm" class="client-account__form">
                        <div class="account__input-wrap">
                            <!-- 사업자등록번호 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientEID">사업자등록번호</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <div class="account__input-btn">
                                    <input type="text" id="clientEID" name="clientEID" maxlength="10">
                                    <button type="button" id="checkEID">번호조회</button>
                                </div>
                                <span id="clientEIDMessage" class="error-message" style="display: none;"></span>
                            </div>
                            <!-- 이름 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientName">이름</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <input type="text" id="clientName" name="clientName">
                            </div>
                            <!-- 휴대폰번호 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientPhone">휴대폰번호</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <input type="text" id="clientPhone" name="clientPhone" maxlength="13">
                            </div>
                            <!-- 아이디 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientId">아이디</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>
                                <div class="account__input-btn">
                                    <input type="text" id="clientId" name="clientId">
                                    <button type="button" id="checkClientIdButton" disabled>중복확인</button>
                                </div>
                                <span id="clientIdMessage" class="error-message" style="display: none;"></span>
                            </div>
                            <!-- 비밀번호 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientPw">비밀번호</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>                                
                                <input type="password" id="clientPw" name="clientPw">
                            </div>
                            <!-- 비밀번호확인 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="checkClientPw">비밀번호 확인</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div>  
                                <input type="password" id="checkClientPw" name="checkClientPw">
                                <span id="passwordMessage" class="error-message" style="display: none;"></span>
                            </div>
                            <!-- 이메일 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="clientEmail">이메일</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div> 
                                <div class="account__input-btn">
                                    <input type="email" id="clientEmail" name="clientEmail">
                                    <button type="button" id="sendCodeButton" disabled>인증코드전송</button>
                                </div>
                                <span id="clientEmailMessage" class="error-message" style="display: none;"></span>
                            </div>
                            <!-- 이메일 인증코드 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="verificationCode">인증 코드</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div> 
                                <div class="account__input-btn">
                                    <input type="text" id="verificationCode" name="verificationCode">
                                    <button type="button" id="verifyCodeButton">인증코드확인</button>
                                </div>
                                <!-- 유효성메시지 -->
                                <span id="clientEmailChkMsg" class="success-message" style="display: none;"></span>
                            </div>
                            <!-- 은행명 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="bankName">은행명</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div> 
                                <input type="text" id="bankName" name="bankName">
                            </div>
                            <!-- 은행계좌 -->
                            <div class="account__input-box">
                                <div class="account__label-box">
                                    <label for="bankAccount">은행계좌</label>
                                    <span class="account-essential">
                                        <i class="fa-solid fa-circle-info"></i>
                                        필수항목
                                    </span>
                                </div> 
                                <input type="text" id="bankAccount" name="bankAccount">
                            </div>
                        </div>
                        <div class="account__btn-wrap">
                            <button type="submit" id="registerButton" class="client-btn--blue" disabled>등록</button>
                            <button type="button" class="client-btn--default" th:onclick="'location.href=\'' + @{/client/login} + '\''">뒤로가기</button>
                        </div>
                        <script src="/client/js/module/register.js"></script>
                    </form>
                    <!-- End:Form -->
                </div>
                <p class="client-account__copyright">
                    delideli ⓒ All right reserved.
                </p>
            </section>
            <!-- Start:Right -->
            <th:block th:include="inc/client/account-right :: clientAccountRight"></th:block>
            <!-- End:Right -->
        </div>
    </body>
</html>
