<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>관리자 - 메인페이지</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:Admin CSS -->
        <th:block th:include="inc/admin/admin-css :: adminCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:Admin JS -->
        <th:block th:include="inc/admin/admin-js :: adminJs"></th:block>

    </head>
    <body>
        <div class="admin-wrap">
            <!-- Start:Aside -->
            <th:block th:include="inc/admin/aside :: adminAside"></th:block>
            <!-- End:Aside -->

            <!-- Start:Main -->
            <main id="mainpage__wrap">
                <!-- Start:Header -->
                <th:block th:include="inc/admin/header :: adminHeader"></th:block>
                <!-- End:Header -->
                
                <!-- Start:Contents -->
                <section class="contents">
                    <!-- Overview -->
                    <article class="mp-overview">
                        <h2 class="contents__title">Overview</h2>
                        <ul class="mp-overview-items">
                            <li class="mp-overview-item">
                                <div class="overview-item--top">
                                    <span class="overview-item--icon">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <p class="overview-item--title">전체 고객 인원</p>
                                </div>
                                <div class="overview-item--bot">
                                    <p class="overview-item--count">180</p>
                                    <a href="#none" class="overview-item--link">
                                        view more
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="mp-overview-item">
                                <div class="overview-item--top">
                                    <span class="overview-item--icon">
                                        <i class="fa-solid fa-user-tie"></i>
                                    </span>
                                    <p class="overview-item--title">전체 사장 인원</p>
                                </div>
                                <div class="overview-item--bot">
                                    <p class="overview-item--count">180</p>
                                    <a href="#none" class="overview-item--link">
                                        view more
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="mp-overview-item">
                                <div class="overview-item--top">
                                    <span class="overview-item--icon">
                                        <i class="fa-solid fa-shop"></i>
                                    </span>
                                    <p class="overview-item--title">전체 가게 인원</p>
                                </div>
                                <div class="overview-item--bot">
                                    <p class="overview-item--count">1180</p>
                                    <a href="#none" class="overview-item--link">
                                        view more
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <!-- Review & Coupon -->
                    <article class="mp-rvcp">
                        <!-- Review -->
                        <div class="mp-rvcp__box">
                            <div class="mp-rvcp--top">
                                <h2 class="contents__title">리뷰신고목록</h2>
                                <a href="#none" class="mp-mvcp--link">
                                    전체보기
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="mp-rvcp--bot">
                                <ul class="mp-rvcp--items">
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <span class="mp-rvcp--info-left">
                                                    <i class="fa-solid fa-bell"></i>
                                                    <p>Amanda</p>
                                                </span>
                                                <span class="mp-rvcp--info-right">
                                                    <i class="fa-solid fa-star"></i>
                                                    <p>5.0</p>
                                                </span>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <span class="mp-rvcp--info-left">
                                                    <i class="fa-solid fa-bell"></i>
                                                    <p>Amanda</p>
                                                </span>
                                                <span class="mp-rvcp--info-right">
                                                    <i class="fa-solid fa-star"></i>
                                                    <p>5.0</p>
                                                </span>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <span class="mp-rvcp--info-left">
                                                    <i class="fa-solid fa-bell"></i>
                                                    <p>Amanda</p>
                                                </span>
                                                <span class="mp-rvcp--info-right">
                                                    <i class="fa-solid fa-star"></i>
                                                    <p>5.0</p>
                                                </span>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <span class="mp-rvcp--info-left">
                                                    <i class="fa-solid fa-bell"></i>
                                                    <p>Amanda</p>
                                                </span>
                                                <span class="mp-rvcp--info-right">
                                                    <i class="fa-solid fa-star"></i>
                                                    <p>5.0</p>
                                                </span>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Coupon -->
                        <div class="mp-rvcp__box">
                            <div class="mp-rvcp--top">
                                <h2 class="contents__title">쿠폰목록</h2>
                                <a href="#none" class="mp-mvcp--link">
                                    전체보기
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="mp-rvcp--bot">
                                <ul class="mp-rvcp--items">
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <p class="mp-rvcp--couponName">
                                                    Coupon01
                                                </p>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <p class="mp-rvcp--couponName">
                                                    Coupon01
                                                </p>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <p class="mp-rvcp--couponName">
                                                    Coupon01
                                                </p>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="mp-rvcp--info">
                                                <p class="mp-rvcp--couponName">
                                                    Coupon01
                                                </p>
                                            </div>
                                            <p class="mp-mvcp--link">
                                                view more
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </section>
                <!-- End:Contents -->
            </main>
            <!-- End:Main -->
        </div>
    </body>
</html>
