<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 메인페이지</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <!-- Main Banner -->
            <section class="mainBanner__wrap">
                <div class="mainBanner__con">
                    <ul class="mainBanner__items swiper-wrapper">
                        <li class="mainBanner__item swiper-slide" style="background-image: url();">
                            <p>Banner1</p>
                        </li>
                        <li class="mainBanner__item swiper-slide" style="background-image: url();">
                            <p>Banner2</p>
                        </li>
                        <li class="mainBanner__item swiper-slide" style="background-image: url();">
                            <p>Banner3</p>
                        </li>
                    </ul>
                    <div class="mainBanner__prevNext">
                        <button class="mainBanner__prevNext--prev">
                            <i class="fa-solid fa-caret-left"></i>
                        </button>
                        <button class="mainBanner__prevNext--next">
                            <i class="fa-solid fa-caret-right"></i>
                        </button>
                    </div>
                    <div class="mainBanner__pagination"></div>
                </div>
            </section>
            <!-- Main Category -->
            <section class="mainCategory__wrap">
                <h2 class="mainCategory__title">카테고리</h2>
                <p>test</p>
            </section>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>