<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 이벤트 상세보기</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <table>
                <tr>
                    <td colspan="2" th:text="${'[' + board.boardStatus + ']  ' + board.boardTitle}"></td>
                </tr>
                <tr>
                    <td th:text="'작성일: ' + ${board.boardRegdate}"></td>
                    <td th:text="'조회수: ' + ${board.boardHits}"></td>
                </tr>
                <tr>
                    <td colspan="2" th:text="${board.boardContents}"></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/user/event">목록</a></td>
                </tr>
            </table>
            <hr>
            <!-- 댓글 폼 -->
            <div class="card my-4" th:if="${user != null}">
                <h5 class="card-header">댓글</h5>
                <div class="card-body">
                    <div id="comment"></div>
                    <form name="comment-form" action="/user/eventDetail/comment/write" method="post" autocomplete="off">
                        <div class="form-group">
                            <input type="hidden" name="userKey" th:value="${user.userKey}" />
                            <input type="hidden" name="boardKey" th:value="${board.boardKey}" />
                            <input type="hidden" name="userNickname" th:value="${user.userNickname}" />
                            <textarea name="commentContents" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" name="comment-submit" disabled>댓글작성</button>
                    </form>
                </div>
            </div>
            <script src="/user/js/module/eventDetail.js" th:if="${user != null}"></script>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>
