<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Notice Detail</h3>
    <table>
        <tr>
            <td colspan="2" th:text="${'['+dto.boardStatus+ ']  '+dto.boardTitle}"></td>
        </tr>
        <tr>
            <td th:text="'작성일: '+ ${dto.boardRegdate}"></td>
            <td th:text="'조회수: '+ ${dto.boardHits}"></td>
        </tr>
        <tr>
            <td colspan="2" th:text="${dto.boardContents}"></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/user/notice">목록</a></td>
        </tr>
    </table>
</body>
</html>