<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #content {
            margin-top: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
        }
        li {
            margin-right: 15px;
        }
    </style>
    <script>
        function loadContent(url) {
            //console.log("Loading content from: " + url); // 콘솔에 URL 출력
            const xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    const items = JSON.parse(xhr.responseText);
                    let contentHtml = '<ul>';
                    for (const item of items) {
                        contentHtml += `<li><a href="">${item.storeName}</a></li>`;
                    }
                    contentHtml += '</ul>';
                    document.getElementById('content').innerHTML = contentHtml;
                }
            };
            xhr.send();
        }
    </script>
</head>
<body>
<h3>카테고리 메인페이지</h3>
<!-- 검색창 -->
<form th:action="@{/user/category}" method="get">
    <input type="text" name="keyword" id="">
    <input type="submit" value="검색">
</form>

<!-- 카테고리 리스트 -->
<ul>
    <li>
        <a href="/user/categorySort/all"
           onclick="loadContent(this.getAttribute('href')); return false;">전체보기</a>
    </li>
    <li th:each="category : ${list}">
        <a href="#" th:href="@{/user/categorySort/{num}(num=${category.categoryKey})}"
           th:text="${category.categoryName}"
           onclick="loadContent(this.getAttribute('href')); return false;"></a>
    </li>
</ul>
<div id="content">
    <!-- 링크된 페이지 내용이 여기에 로드됩니다 -->
</div>
</body>
</html>
