<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 - 내 주소 관리</title>
    <!-- Include:공통 CSS -->
    <th:block th:include="inc/common/common-css :: commonCss"></th:block>
    <!-- Include:User CSS -->
    <th:block th:include="inc/user/user-css :: userCss"></th:block>
    <!-- Include:공통 JS -->
    <th:block th:include="inc/common/common-js :: commonJs"></th:block>
    <!-- Include:User JS -->
    <th:block th:include="inc/user/user-js :: userJs"></th:block>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <!-- Start:Header -->
    <th:block th:include="inc/user/header :: userHeader"></th:block>
    <!-- End:Header -->

    <!-- Start:Main -->
    <main id="mainpage__wrap">
        <div class="subPage__wrap">
            <!-- Start:subNav -->
            <th:block th:include="inc/user/subNav :: subNav"></th:block>
            <!-- End:subNav -->
            <h2 class="subPage__title">내 주소관리</h2>
            <div class="myAddress__con">
                <div class="myAddress__main">
                    <span class="myAddress__icon"></span>
                    <div class="myAddress__info">
                        <h3 class="myAddress_name"></h3>
                        <p class="myAddress__desc"></p>
                    </div>
                </div>
                <ul class="myAddress__items">
                    <li>
                        <span class="myAddress__icon"></span>
                        <div class="myAddress__info">
                            <h3 class="myAddress_name"></h3>
                            <p class="myAddress__desc"></p>
                        </div>
                        <div class="myAddress__btn">
                            <button class="myAddress__btn--1">대표등록</button>
                            <button class="myAddress__btn--2">수정</button>
                            <button class="myAddress__btn--3">삭제</button>
                        </div>
                    </li>
                </ul>
                <div class="myAddress__add-btn">
                    <button>주소 추가</button>
                </div>
            </div>
        </div>
    </main>
    <!-- End:Main -->

    <!-- Start:Footer -->
    <th:block th:include="inc/user/footer :: userFooter"></th:block>
    <!-- End:Footer -->
</body>
</html>
