<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 - 내문의 작성</title>
    <!-- Include:공통 CSS -->
    <th:block th:include="inc/common/common-css :: commonCss"></th:block>
    <!-- Include:User CSS -->
    <th:block th:include="inc/user/user-css :: userCss"></th:block>
    <!-- Include:공통 JS -->
    <th:block th:include="inc/common/common-js :: commonJs"></th:block>
    <!-- Include:User JS -->
    <th:block th:include="inc/user/user-js :: userJs"></th:block>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script type="text/javascript" src="../js/summernote-ko-KR.js"></script>
</head>
<body>
    <!-- Start:Header -->
    <th:block th:include="inc/user/header :: userHeader"></th:block>
    <!-- End:Header -->

    <!-- Start:Main -->
    <main id="mainpage__wrap">
        <h3>문의글작성</h3>
        <form action="/user/myAskWrite" method="post">
            <span>제목 : </span>
            <input type="text" name="boardTitle" id=""> <br>
            <span>내용 : </span>
            <textarea class="summernote" name="boardContents" id="" cols="30" rows="10"></textarea><br>

            <button type="submit">작성완료</button>
        </form>
        <a href="/user/myAsk">목록으로</a>
        <script src="/user/js/module/summernote.js"></script>
    </main>
    <!-- End:Main -->

    <!-- Start:Footer -->
    <th:block th:include="inc/user/footer :: userFooter"></th:block>
    <!-- End:Footer -->
</body>
</html>
