<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 - 내문의페이지</title>
    <!-- Include:공통 CSS -->
    <th:block th:include="inc/common/common-css :: commonCss"></th:block>
    <!-- Include:User CSS -->
    <th:block th:include="inc/user/user-css :: userCss"></th:block>
    <!-- Include:공통 JS -->
    <th:block th:include="inc/common/common-js :: commonJs"></th:block>
    <!-- Include:User JS -->
    <th:block th:include="inc/user/user-js :: userJs"></th:block>
  </head>
  <body>
    <!-- Start:Header -->
    <th:block th:include="inc/user/header :: userHeader"></th:block>
    <!-- End:Header -->

    <!-- Start:Main -->
    <main id="mainpage__wrap">
      <div class="subPage__wrap">
        <!-- Start:subNav -->
        <th:block th:include="inc/user/subNav :: subNav"></th:block>
        <!-- End:subNav -->
        <h2 class="subPage__title">내 문의</h2>
        <div class="myAsk__con">
          <table class="notice__table">
            <colgroup>
              <col width="70%">
              <col width="15%">
              <col width="15%">
            </colgroup>
            <thead>
              <tr>
                <th>제목</th>
                <th>날짜</th>
                <th>답변상태</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="board : ${list}">
                <td>
                  <a th:href="@{myAskDetail/{boardKey}(boardKey=${board.boardKey})}">
                    [[${board.boardTitle}]]
                  </a>
                </td>
                <td>
                  [[${board.boardRegdate}]]
                </td>
                <td>
                    <span class="event__table--cp" th:if="${board.boardCommentStatus == 1}">
                        답변완료
                    </span>
                    <span class="event__table--ip" th:if="${board.boardCommentStatus == 0}">
                        미완료
                    </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="myAsk__links">
            <a href="/user/myAskWrite">글작성</a>
          </div>
        </div>
    </main>
    <!-- End:Main -->

    <!-- Start:Footer -->
    <th:block th:include="inc/user/footer :: userFooter"></th:block>
    <!-- End:Footer -->
  </body>
</html>
