<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 내 쿠폰 목록</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <a href="/user/myAddress">주소관리</a><br>
            <a href="/user/checkAccount">내 정보 수정</a><br>
            <a href="/user/updatePw">비밀번호 변경</a><br>
            <a href="/user/myOrder">주문내역</a><br>
            <a href="/user/myReview">내 리뷰관리</a><br>
            <a href="/user/myLike">찜목록</a><br>
            <a href="/user/myCart">장바구니</a><br>
            <a href="/user/myAsk">내 문의확인</a><br>
            <a href="/user/withdrawal">회원탈퇴</a>
            <br><br><br>
            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>쿠폰명</th>
                    <th>쿠폰할인금액</th>
                    <th>사용가능시작일</th>
                    <th>사용가능종료일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="coupon : ${coupon}">
                    <td th:text="${coupon.couponKey}"></td>
                    <td class="coupon-name" th:text="${coupon.couponName}"></td>
                    <td class="price" th:text="'-' + ${#numbers.formatInteger(coupon.couponPrice,3,'POINT')} + '원'"></td>
                    <td th:text="${#temporals.format(coupon.couponStartDate, 'yyyy/MM/dd')}"></td>
                    <td th:text="${#temporals.format(coupon.couponEndDate, 'yyyy/MM/dd')}"></td>
                </tr>
                </tbody>
            </table>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>
