<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 내 리뷰 목록</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <div class="subPage__wrap">
                <!-- Start:subNav -->
                <th:block th:include="inc/user/subNav :: subNav"></th:block>
                <!-- End:subNav -->
                <h2 class="subPage__title">리뷰 관리</h2>
                <div class="myReview__con">
                    <!-- Tab메뉴 -->
                    <div class="myReview__btn-con">
                        <button type="button" onclick="showReviewList('available')" class="myReview__btn-con--1 active">
                            미작성 리뷰 ([[${availableForReviewOrders.size()}]])
                        </button>
                        <button type="button" onclick="showReviewList('written')" class="myReview__btn-con--2">
                            작성 완료 리뷰 ([[${writtenReviewOrders.size()}]])
                        </button>
                    </div>

                    <!-- 미작성리뷰 -->
                    <div class="myReview__items--N" id="available-review-list">
                        <div class="myReview__item--N" th:each="order : ${availableForReviewOrders}">
                            <p class="myReview__N--date">
                                주문일자 : [[${order.formattedOrderDate}]]
                            </p>
                            <h3 class="myReview__N--Name">
                                [[${order.storeInfo.storeName}]]
                            </h3>
                            <th:block th:if="${#lists.size(order.orderDetails) > 1}">
                                <div class="myReview__N--Menu">
                                    [[${order.orderDetails.get(0).menuName}]] 외 [[${#lists.size(order.orderDetails) - 1}]]개
                                </div>
                            </th:block>
                            <th:block th:if="${#lists.size(order.orderDetails) == 1}">
                                <div class="myReview__N--Menu">
                                    [[${order.orderDetails.get(0).menuName}]] x [[${order.orderDetails.get(0).quantity}]]
                                </div>
                            </th:block>
                            <div class="myReview__N--link">
                                <a th:href="@{/user/writeReview(orderKey=${order.orderKey})}">리뷰 쓰기</a>
                            </div>
                        </div>
                    </div>

                    <!-- 작성완료리뷰 -->
                    <div class="myReview__items--Y" id="written-review-list" style="display: none;">
                        <div class="myReview__item--Y" th:each="order : ${writtenReviewOrders}">
                            <div class="myReview__Y--img">
                                <th:block th:if="${order.review.reviewPhoto1}">
                                    <img th:src="@{${order.review.reviewPhoto1}}" alt="리뷰 이미지 1">
                                </th:block>
                                <th:block th:if="${order.review.reviewPhoto2}">
                                    <img th:src="@{${order.review.reviewPhoto2}}" alt="리뷰 이미지 2">
                                </th:block>
                            </div>
                            <div class="myReview__Y--info">
                                <div class="myReview__Y--rating">
                                    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                        <th:block th:if="${i <= order.review.reviewRating.intValue()}">
                                            <span class="rating-on">
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                        </th:block>
                                        <th:block th:if="${i > order.review.reviewRating.intValue()}">
                                            <span class="rating-off">
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                        </th:block>
                                    </th:block>
                                </div>
                                <div class="myReview__Y--date">
                                    [[${order.formattedOrderDate}]]
                                </div>
                                <div class="myReview__Y--menu">
                                    <th:block th:if="${#lists.size(order.orderDetails) > 1}">
                                        [[${order.orderDetails.get(0).menuName}]] 외 [[${#lists.size(order.orderDetails) - 1}]]개
                                    </th:block>
                                    <th:block th:if="${#lists.size(order.orderDetails) == 1}">
                                        [[${order.orderDetails.get(0).menuName}]] x [[${order.orderDetails.get(0).quantity}]]
                                    </th:block>
                                </div>
                                <div class="myReview__Y--cnt">
                                    <h3 class="myReview__Y--title">
                                        [[${order.storeInfo.storeName}]]
                                    </h3>
                                    <p class="myReview__Y--desc">
                                        [[${order.review.reviewDesc}]]
                                    </p>
                                </div>
                                <div class="myReview__y--client" th:if="${order.review.reviewComment != null && order.review.reviewComment != ''}">
                                    <h3>사장님 답변</h3>
                                    <p>[[${order.review.reviewComment}]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="/user/js/module/myReview.js"></script>
            </div>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>
