<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>사용자 - 내 리뷰 목록</title>
        <!-- Include:공통 CSS -->
        <th:block th:include="inc/common/common-css :: commonCss"></th:block>
        <!-- Include:User CSS -->
        <th:block th:include="inc/user/user-css :: userCss"></th:block>
        <!-- Include:공통 JS -->
        <th:block th:include="inc/common/common-js :: commonJs"></th:block>
        <!-- Include:User JS -->
        <th:block th:include="inc/user/user-js :: userJs"></th:block>
    </head>
    <body>
        <!-- Start:Header -->
        <th:block th:include="inc/user/header :: userHeader"></th:block>
        <!-- End:Header -->

        <!-- Start:Main -->
        <main id="mainpage__wrap">
            <div class="review-container">
                <div class="review-header">
                    <h1>리뷰 관리</h1>
                    <div>
                        <button onclick="showReviewList('available')" th:text="'작성 가능한 리뷰 (' + ${availableForReviewOrders.size()} + ')'"></button>
                        <button onclick="showReviewList('written')" th:text="'작성한 리뷰 (' + ${writtenReviewOrders.size()} + ')'"></button>
                    </div>
                </div>
                <div id="available-review-list" class="review-list" style="display: block;">
                    <!-- 작성 가능한 리뷰 목록 -->
                    <div th:each="order : ${availableForReviewOrders}" class="review-item">
                        <div class="review-store" th:text="${order.storeInfo.storeName}"></div>
                        <div class="review-date" th:text="${order.formattedOrderDate}"></div>
                        <div class="review-detail">
                            <div th:if="${#lists.size(order.orderDetails) > 1}">
                                <div th:text="${order.orderDetails.get(0).menuName} + ' 외 ' + (${#lists.size(order.orderDetails) - 1}) + '개'"></div>
                            </div>
                            <div th:if="${#lists.size(order.orderDetails) == 1}">
                                <div th:text="${order.orderDetails.get(0).menuName} + ' x ' + ${order.orderDetails.get(0).quantity}"></div>
                            </div>
                            <a th:href="@{/user/writeReview(orderKey=${order.orderKey})}" class="review-write-button">리뷰 쓰기</a>
                        </div>
                    </div>
                </div>

                <div id="written-review-list" class="review-list" style="display: none;">
                    <!-- 작성된 리뷰 목록 -->
                    <div th:each="order : ${writtenReviewOrders}" class="review-item">
                        <div class="review-store" th:text="${order.storeInfo.storeName}"></div>
                        <div class="review-date" th:text="${order.formattedOrderDate}"></div>
                        <div class="review-detail">
                            <div th:if="${#lists.size(order.orderDetails) > 1}">
                                <div th:text="${order.orderDetails.get(0).menuName} + ' 외 ' + (${#lists.size(order.orderDetails) - 1}) + '개'"></div>
                            </div>
                            <div th:if="${#lists.size(order.orderDetails) == 1}">
                                <div th:text="${order.orderDetails.get(0).menuName} + ' x ' + ${order.orderDetails.get(0).quantity}"></div>
                            </div>
                            <!-- 리뷰 별점 -->
                            <div class="review-rating">
                                <!-- 5개의 별을 표시하기 위한 반복문 -->
                                <span th:each="i : ${#numbers.sequence(1, 5)}">
                                    <span th:text="${i <= order.review.reviewRating.intValue()} ? '★' : '☆'"></span>
                                </span>
                            </div>
                            <!-- 리뷰 이미지 -->
                            <div th:if="${order.review.reviewPhoto1}">
                                <img th:src="@{${order.review.reviewPhoto1}}" alt="리뷰 이미지 1">
                            </div>
                            <div th:if="${order.review.reviewPhoto2}">
                                <img th:src="@{${order.review.reviewPhoto2}}" alt="리뷰 이미지 2">
                            </div>
                            <!-- 리뷰 내용 -->
                            <div th:text="'리뷰 내용 : ' + ${order.review.reviewDesc}"></div>
                            <!-- 사장님 답변 -->
                            <div th:if="${order.review.reviewComment}" th:text="'사장님 답변 : ' + ${order.review.reviewComment}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/user/js/module/myReview.js"></script>
        </main>
        <!-- End:Main -->

        <!-- Start:Footer -->
        <th:block th:include="inc/user/footer :: userFooter"></th:block>
        <!-- End:Footer -->
    </body>
</html>
